$white: #f3f4f4;
$red: hsl(6, 78%, 57%);
$redlight: hsl(6, 78%, 75%);
$reddark: hsl(6, 63%, 46%);
$font: 'Open Sans';
@mixin center {
  display: grid;
  justify-content: center;
  align-items: center;
}
@mixin hover {
  &:not([disabled]):hover {
    background-color: $redlight;
    transition: ease-in 0.12s;
    cursor: pointer;
  }
}

* {
  font-family: $font;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body {
    @include center;
    background-image: url('../img/bg.jpg');
    background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
}

#container {
  @include center;
  width: 350px;
  height: 480px;
  background-color: $white;
  font-family: $font;
  grid-template-rows: 1fr 3fr 1fr;
  border-radius: 25px;

  #logo {
    text-align: center;
  }

  #form {
    @include center;
    width: 300px;
    margin-bottom: 10px;

    #line {
      border-bottom: 2px solid $red;
      width: 280px;
      height: 2px;
      padding: 0;
    }

    #forgot,
    #forgot a {
      text-decoration: none;
      margin: 16px 8px auto auto;
      color: hsla(0, 0%, 50%, 1);
      font-size: 0.84rem;
    }

    #forgot a:hover {
      opacity: 70%;
      transition: ease-in 0.15s;
    }

    div {
      line-height: 2rem;
      margin: auto;
      padding-top: 10px;
      width: 300px;

      label {
        margin-left: 15px;
        font-size: 0.9rem;
        letter-spacing: 1px;
        color: $reddark;
      }

      input,
      input:focus {
        padding: 5px 12px;
        grid-template-columns: 1fr;
        border: none;
        outline: none;
        height: 35px;
        width: 100%;
        background: none;
        font-size: 1.3rem;
      }
    }

    #submit {
      @include hover;
      color: white;
      background-color: $red;
      height: 43px;
      width: calc(65%);
      padding: 5px;
      margin: 45px auto 25px;
      border: none;
      border-radius: 25px;
      font-size: 18px;
      font-family: $font;
      font-weight: 600;
      letter-spacing: 2px;
    }
  }
  #bottom {
    text-align: center;
    font-size: 0.9rem;
    margin: 0 auto 15px;
    #bottom-text {
      color: hsla(0, 0%, 45%, 0.8);
    }
    #socials {
      i {
        font-size: 2.4rem;
        color: hsla(0, 0%, 50%, 0.5);
        padding: 5px 5px;
        opacity: 70%;
        cursor: pointer;
        transition: ease-in 0.1s;
      }
      .fb:hover {
        color: hsl(214, 89%, 42%);
      }
      .tw:hover {
        color: hsl(203, 89%, 58%);
      }
      .ln:hover {
        color: hsl(213, 63%, 43%);
      }
    }
  }
}
