$bg-white: #f3f4f4;
$bg-red: #ee6559;
$bg-red0: #fac7c2;
$bg-red1: #5a2015;
$open: 'Open Sans';
@mixin center {
  display: grid;
  justify-content: center;
  align-items: center;
}
@mixin hover {
  &:not([disabled]):hover {
    background-color: $bg-red0;
    color: $bg-red1;
    transition: ease-in 0.22s;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  body {
    @include center;
    background-image: url('../img/bg.jpg');
    background-color: red;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100vh;
  }
}

#container {
  @include center;
  width: 330px;
  height: 450px;
  background-color: $bg-white;
  font-family: $open;
  grid-template-rows: 15% 1fr 15%;
  border-radius: 15px;

  #logo {
    text-align: center;
  }

  #form {
    @include center;
    width: 300px;
    margin: 10px;

    div {
      label {
        margin-left: 5px;
      }
      line-height: 2rem;
      margin: auto 0 20px;
      padding: 20px;
      width: 300px;
    }

    div > input {
      padding: 5px 12px;
      grid-template-columns: 1fr;
      border-radius: 5px;
      border: 1px solid hsla(0, 0%, 50%, 0.24);
      height: 35px;
    }

    #submit {
      padding: 5px;
      margin: auto;
      height: 35px;
      width: 100px;
      @include hover;
    }
  }
  #socials {
    text-align: center;
    font-size: 2rem;
    color: hsla(0, 0%, 50%, 0.5);
    i {
      padding: 10px 5px;
    }
  }
}
